.ant-picker-calendar.ant-picker-calendar-full.css-dev-only-do-not-override-1yacf91 {
    margin: auto 100px;
    width: 1000px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid lightblue;
}