.ant-picker-calendar.ant-picker-calendar-full.css-dev-only-do-not-override-1yacf91 {
    margin: auto 100px;
    width: 1000px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid lightblue;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
    display: none;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}

.todo-text {
    flex: 1;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

